* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


header {
  background-color: #ffffff;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h2 {
  font-size: 28px;
  font-weight: 700;
  margin-right: 300px;
}

 
.logo img {
  height: 80px;
  width: auto;
  object-fit: contain;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 180px;
}


nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  color: #6b7280;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

nav a:hover {
  color: #1e3a8a;
}


.btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.hi-buttons {
  margin-left: auto;
}

.hi-buttons a {
  background-color: #2563eb;
  color: white;
}

.hi-buttons a:hover {
  background-color: #1d4ed8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  top: 100%;
  left: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 9999;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f5f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.background {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    animation: float 8s ease-in-out infinite;
}


.circle.dark {
    background: #0078d4;
}

.circle.light {
    background: #5bb6f0;
}

.circle.one {
    width: 140px;
    height: 140px;
    top: 40px;
    left: 80px;
}

.circle.two {
    width: 180px;
    height: 180px;
    top: 60px;
    right: 100px;
}

.circle.three {
    width: 120px;
    height: 120px;
    bottom: 80px;
    left: 150px;
}

.circle.four {
    width: 160px;
    height: 160px;
    bottom: 60px;
    right: 120px;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.voucher-card {
  width: 50%;
  bottom:30px;
  margin: 40px auto;
  background: #ffffff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  position: relative;
}

.voucher-left {
  flex: 1;
}

.voucher-left h1 {
  font-size: 42px;
  color: #0078d4;
  margin-bottom: 8px;
}

.voucher-brand img { width: 40px; height: 40px; border-radius: 50%; }

.voucher-right { flex: 1; text-align: center; } 
.voucher-right h2 { font-size: 36px; color: #0078d4; margin-bottom: 18px; }

.apply-btn { 
    padding: 10px 26px; 
    border-radius: 25px; 
    border: none; 
    background: #0078d4; 
    color: #ffffff; 
    font-weight: bold; 
    cursor: pointer; }

.apply-btn:hover { 
    background: #005fa3; }

.other-btn { position: absolute; 
    bottom: -50px; 
    left: 50%; 
    margin-top:100px; 
    transform: translateX(-50%); 
    height: 44px; width: 220px; 
    border-radius: 25px; 
    border: none; 
    background: #0078d4; 
    color: #ffffff; 
    font-weight: bold; 
    cursor: pointer; }

    .other-btn:hover { 
    background: #005fa3; }



.subtitle {
  color: #0078d4;
  font-weight: 600;
  margin-bottom: 12px;
}

.validity {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.terms {
  font-size: 13px;
  color: #0078d4;
  text-decoration: none;
}

.voucher-divider {
  width: 2px;
  height: 140px;
  background: repeating-linear-gradient(
    to bottom,
    #ccc,
    #ccc 8px,
    transparent 8px,
    transparent 16px
  );
  margin: 0 30px;
}

.voucher-right {
  flex: 1;
  text-align: center;
}



.footer {
  position: relative;
  z-index: 2;
  margin: 0;
  width: 100%;
  background: linear-gradient(180deg, #031c2d, #020f1a);
  color: #cfd8dc;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h4 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #9fb3c8;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #ffffff;
}


.brand-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.brand h3 {
  color: #ffffff;
  margin: 0;
}

.brand p {
  margin-top: 15px;
  font-size: 14px;
  color: #9fb3c8;
}


.footer-col p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #9fb3c8;
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
  color: #8fa3b8;
}



@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}